<!doctype html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
        {% block title %}
            list
        {% endblock title %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static "OM/css/bootstrap.min.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "OM/css/nprogress.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "OM/css/style.css"%}">
    <link rel="stylesheet" type="text/css" href="{% static "OM/css/font-awesome.min.css"%}">
    <link rel="apple-touch-icon-precomposed" href="{% static "OM/images/icon.png" %}">
    <link rel="shortcut icon" href="{% static "OM/images/favicon.png" %}">

    {#自定义的CSS#}
    {% block css %}
    {% endblock %}

</head>


<body class="user-select">
<!-- 导航头开始 -->
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false">
                            <span class="sr-only">
                            </span>
                    <span class="icon-bar">
                            </span>
                    <span class="icon-bar">
                            </span>
                    <span class="icon-bar">
                            </span>
                </button>
                <h1 class="logo hvr-bounce-in">
                    <a href="{% url "OpinionMonitor:index" %}" title="舆情分析系统">
                        <img src="{% static "OM/images/201610171329086541.png" %}" alt="舆情分析系统">
                    </a>
                </h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <form class="navbar-form navbar-left" action="{% url 'OpinionMonitor:search' %}" method="get">
                    <div class="input-group"  style="margin-top: 5px; padding-bottom: 2px">
                        <input type="text" name="keyword" class="form-control" value="{{ keyword }}"
                               maxlength="20" autocomplete="off" style="width:400px; margin-left: 100px;">
                        <span class="input-group-btn" style="height: 100%">
                                    <button class="btn btn-default btn-search" type="submit" style="height: auto">
                                        搜索
                                    </button>
                                </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-cont="首页" title="首页" href="{% url "OpinionMonitor:index" %}">
                            首页
                        </a>
                    </li>
                    <li>
                        <a data-cont="查询" title="查询" href="{% url "OpinionMonitor:search" %}?keyword=杭州">
                            查询
                        </a>
                    </li>
                    <li>
                        <a data-cont="热点" title="热点" href="{% url "OpinionMonitor:hot" %}">
                            热点
                        </a>
                    </li>
                    <li>
                        <a data-cont="预警" title="预警" href="{% url "OpinionMonitor:search" %}?keyword=%敏感文章%">
                            预警
                        </a>
                    </li>
                    <li>
                        <a data-cont="全文匹配" title="全文匹配" href="{% url "OpinionMonitor:sim" %}">
                            全文匹配
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- 导航头结束 -->

{# body #}
{% block body %}
{% endblock %}

{#footer#}
<footer class="footer">
    <div class="container">
        <p>
            Copyright &copy; 2016. Hongli.Chen All rights reserved.
        </p>
    </div>
</footer>

{# 用于模板引擎的动态加载 #}
{% block template %}
{% endblock %}



{#    基础的JavaScript    #}
<script src="{% static "OM/js/jquery-2.1.4.min.js"%}"></script>
<script src="{% static "OM/js/jquery.lazyload.min.js"%}"></script>
<script src="{% static "OM/js/bootstrap.min.js"%}"></script>
<script src="{% static "OM/js/nprogress.js"%}"></script>
<script src="{% static "OM/js/scripts.js"%}"></script>
<!--[if gte IE 9]>
        <script src="{% static "OM/js/jquery-1.11.1.min.js"%}" type="text/javascript">
        </script>
        <script src="{% static "OM/js/html5shiv.min.js"%}" type="text/javascript">
        </script>
        <script src="{% static "OM/js/respond.min.js"%}" type="text/javascript">
        </script>
        <script src="{% static "OM/js/selectivizr-min.js"%}" type="text/javascript">
        </script>
    <![endif]-->
<!--[if lt IE 9]>
        <script>
            window.location.href = 'upgrade-browser.html';
        </script>
    <![endif]-->

{# 自定义的JavaScript #}
{% block js %}
{% endblock %}

</body>


</html>